* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --color-primary: #fcfcfc;
  --color-secondary: #19d600;
  --color-tertiary: rgb(32, 34, 37);
  --bg-dark: #020d19;
  --dark-cyan: #001628;
  --bg-secondary: #0f2027;

  /* fonts */
  --font-primary: 'Roboto Slab', serif;

  /* heights */
  --nav-height: 0px;

  // widths
  --max-width: 1400px;

  /* delay */
  --preloader-delay: 2s;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

section {
  scroll-margin-top: var(--nav-height);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--dark);
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #4fcc3f;
}

::selection {
  color: black;
  background-color: #0b5f00;
}

@import './heroAnimation';
